Hello $model.user.email

Your Recent Transaction is

Input From your Side

Capacity (KG/HOUR):$model.bucketData.capacity
Density (KG/CU.M):$model.bucketData.density
Product Volume(CU.M):$model.bucketData.volume
Bucket Spacing(M) :$model.bucketData.pitch
Bucket Width(M) :$model.bucketData.width
Elevator Height(M):$model.bucketData.height
Bucket Weight(KG) :$model.bucketData.weight
Stress In Belt(N / SQ.M) : $model.bucketData.stress
Angle Contact(DEG) :  $model.bucketData.angle

Output From our Side

Belt Speed (M/SEC):$model.bucketData.beltSpeed
Diameter (D) of pulley (M):$model.bucketData.diameter
The drive Speed (RPM):$model.bucketData.driveSpeed
The Satisfactory chute depth (M):$model.bucketData.chuteDepth
The chute opening starting from the vertical center of the pull (M):$model.bucketData.chuteVertical
Belt width (M):$model.bucketData.beltWidth
Pulley width (M): $model.bucketData.pulleyWidth
Gross weight of bucket(consider 2/3 of product + empty bucket Weight) (KG): $model.bucketData.grossWeight
Tension load on tight slide (N):$model.bucketData.tensionTight
Tension load on slack slide (N):$model.bucketData.tensionSlack
The power required to drive (KW):$model.bucketData.power
The no of bucket required (NOS PER SIDE):$model.bucketData.bucketCount
Torque obtained (N-M):$model.bucketData.torque
Shaft diameter(D) (M):$model.bucketData.shaftDiameter
Load on Gear box (KN):$model.bucketData.gearLoad
Load on shaft (KN):$model.bucketData.shaftLoad
The thickness of the rim of C.I pulley (M):$model.bucketData.pulleyThickness
The No. of arms required for pulley (NO's):$model.bucketData.pulleyArmsCount
Gear ratio pole for 2-pole motor :$model.bucketData.twoPoleGearRatio
Gear ratio pole for 4-pole motor :$model.bucketData.fourPoleGearRatio
Gear ratio pole for 6-pole motor :$model.bucketData.sixPoleGearRatio

NOTE > : THE BELT SPEED FOR BUCKET ELEVATORS IS USUALLY IN THE RANGE OF 1 TO 2 M/SEC.
         TO ENSURE THE PRODUCT THROWS INTO THE CHUTE AT THE HEAD PULLEY. OTHERWISE
         CHANGE THE VALUES OF EITHER ANY OF CAPACITY/DENSITY/BUCKET SIZE/BUCKET SPACING

NOTE > : THE GEAR BOX SERVICE FACTOR SHOULD BE ≥ 1.50

NOTE > : CONSIDER SPOKE/ARM DIA 0.02 M FOR UP TO 0.7 M PULLEY DIAMETER AND OVER 0.7 M PULLEY DIA CONSIDER SPOKE/ARM DIA 0.025 M


